<section class="container">
  <div class="card-header">
    <h1>Wlecome to Cartracker
      <small class="text-muted">A Smart IOT Application</small>
    </h1>
  </div>
  <div>
    <nav class="nav nav-pills nav-justified">
      <a class="nav-link" href="vehicles">Vehicles</a>
      <a class="nav-link" href="vehicleStats">Statistics</a>
      <a class="nav-link" href="alerts">Alerts</a>
    </nav>
  </div>
  <!--<div class="card-body">-->
    <router-outlet></router-outlet>
  <!--</div>-->
  <div class="card-footer text-muted">
    &copy; 2018 Powered by Pramod Jonnadula
  </div>
</section>

