<div class="fluid">
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col" >
            <a href="./alerts">
              Vin#
            </a>
          </th>
          <th scope="col">
            <a href="./alerts">
              HighAlertCount
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alert of alerts">
          <td><a [routerLink]="['/vehicles',alert.vin]">{{alert.vin}}</a></td>
          <td>{{alert.highalertcount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
