<div class="fluid">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Vin#</th>
          <th scope="col">High Alert Count#</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alert of alerts">
          <td><a [routerLink]="['/vehicles',alert.vin]">{{alert.vin}}</a></td>
          <td>{{alert.highalertcount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
